body{
    background-color: antiquewhite;
   

}
.container{
    background-color: #efdada;
    padding: 2em 3em;
    width: auto;
    height: 7em;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    padding: 0px 1px;
}
.flex{
    margin: 2em 5em;
    background: linear-gradient(#d5e5ed8c, #b7d2e7);
    height: auto;
    padding-left: 5em;
}

 h2{
   padding: 1em 1em;
   text-align: center;
   font-size: 2em;
   
   color: #ff5722cc;
}
.top{
  display: flex;  
}
.top img{
   height: 20em;
   width: 25em;
   margin: 3em 0em;
}
/*.img{
    margin:2em 0em;

}
.img1{
    margin:2em 2em;
    
}*/

 .content {
    max-width: 1024px;
    width: 100%;
    padding: 0 4%;
    padding-top: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 @media screen and (max-width: 767px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
    }
 }
 
 .card {
    width: 100%;
    padding: 0px 23px;
    bottom: 360px;
    /* justify-content: center; */
    right: 40px;
    /* margin: 16px; */
    max-width: 500px;
    min-width: 300px;
    height: 300px;
    background-color: #252525;
    margin: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(245 26 26 / 24%);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 16px;
    /* transition: all 0.3s ease; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
}
 
 .img {
   
    max-width: 100px;
    /* border: 3px solid rgba(212, 19, 19, 0.12); */
    /* border: 20px #217c9e; */
    /* border-radius: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* transition: all 0.8s ease; */
    /* background-position: 1px; */
    background-size: 200px;
    
}
 
.img:hover{
    border: 10px solid wheat;
    border-width: 4em;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
}
 .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
 }
 
 .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 .card:hover {
    height: 400px;
 }
 
 .card:hover .info {
    height: 20%;
 }
 
 .card:hover .text {
    transition: all 0.3s ease;
    opacity: 1;
    max-height:40px;
 }

 .content2 {
   max-width: 1024px;
   width: 100%;
   padding: 0 4%;
   padding-top: 50px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 767px) {
   .content2 {
      padding-top: 300px;
      flex-direction: column;
   }
}
.space{
   margin: 9em 0em;
}
h3 {
   /* bottom: 60px; */
   top: 35em;
   margin: 0px 9em;
   position: absolute;
   font-size: 43px;
   text-shadow: 0 0 20px;
   color: lightseagreen;
}

.content3{
   max-width: 1024px;
   width: 100%;
   padding: 0 4%;
   padding-top: 50px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
 
}

@media screen and (max-width: 767px) {
   .content3 {
      padding-top: 300px;
      flex-direction: column;
   }
}

.content4{
   max-width: 1024px;
   width: 100%;
   padding: 0 4%;
   padding-top: 50px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (max-width: 767px) {
   .content3 {
      padding-top: 300px;
      flex-direction: column;
   }
}
